/* public/style.css */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    background-color: #000;
    color: #C9D1D9;
}

/* unvisited link */
a:link {
    /* color: #EBCB8B; */
    color: #58A6FF;
}
  
/* visited link */
a:visited {
    /* color: #BF616A; */
    color: #58A6FF
}

/* mouse over link */
a:hover {
    color: #D08770;
}

/* selected link */
a:active {
    color: #A3BE8C;
}

ul {
    list-style-type: none;
}

ul a {
    font-size: .9em;
}

.code {
    color: #999;
}

.json {
    font-size: .9em;
    /* color: #ECEFF4; */
}

.code, .json {
    font-family: 'Source Code Pro';
}

.row {
    display: flex;
}
  
.column-left {
    flex: 40%;
    margin: 5px;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.column-right {
    flex: 60%;
    margin: 5px;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}



.text, .description {
    margin: 5px;
    padding: 10px;
    background-color: #0D1117;
    border: 1px solid #30363D;
}
